@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --primary-dark: #5D5C61;
    --primary-light: #F8F7F3;
    --secondary-dark: #373F51;
    --secondary-light: #58A4B0;
    --tertiary: #B0A295;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    min-height: 100vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}
  
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* HEADER */

.title {
    font-size: 50px;
    color: #333;
}

/* MAIN */

.calculator-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--primary-dark);
    border-radius: 10px;
    width: 500px;
    height: 700px;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-light);
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.preview {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.preview.main {
    font-size: 42px;
}

.grid {
    display: grid;
    grid-auto-flow: dense;
}

/* FOOTER */

.footer {
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #333;
    padding-top: 20px;
}